/*
Soft red: hsl(7, 99%, 70%)
Yellow: hsl(51, 100%, 49%)
Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
Dark blue (photography text): hsl(198, 62%, 26%)
Dark moderate cyan (footer): hsl(168, 34%, 41%)

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%)


font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

body {
  font-size: 18px;
  font-family: "Fraunces", serif;
  background-color: lightgray;
}

header {
  height: 95vh;
  position: relative;
  background-image: url("../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
}

.navbar {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}

.menu ul {
  width: 60vh;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  color: white;
}

nav ul li a:link,
nav ul li a:visited {
  text-decoration: none;
  transition: all 0.2s;
}

nav ul li a:hover {
  color: black;
  padding: 10px 30px;
  border-radius: 50px;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

nav ul li a:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.header__text {
  font-size: 25px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  letter-spacing: 10px;
}

.heading {
  margin-bottom: 50px;
  animation-name: moveInTop;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

.arrow {
  margin-top: 50px;
  width: 30px;
  -webkit-animation: scroll 0.95s ease-in-out alternate infinite;
  animation: scroll 0.95s ease-in-out alternate infinite;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
